<div id="landingContainer" style="display: none;">
    <div id="upper">
        <div id="left">
            <div id="image_seal_container">
                <img id="image_seal" src="assets/images/SealCircle.png"/>
                <div id="updateAvailableTooltip"><%- lang('landing.updateAvailableTooltip') %></div>
            </div>
        </div>
        <div id="content"></div>

        <div id="right">
            <div id="rightContainer">
                <div id="user_content">
                    <span id="user_text"><%- lang('landing.usernamePlaceholder') %></span>
                    <div id="avatarContainer">
                        <button id="avatarOverlay"><%- lang('landing.usernameEditButton') %></button>
                    </div>
                </div>

                <div id="mediaContent">
                    <div id="internalMedia">
                        <div class="mediaContainer" id="settingsMediaContainer">
                            <button class="mediaButton" id="settingsMediaButton">
                                <svg id="settingsSVG" class="mediaSVG" viewBox="0 0 141.36 137.43">
                                    <path d="M70.70475616319865,83.36934004916053 ..." />
                                </svg>
                                <div id="settingsTooltip"><%- lang('landing.settingsTooltip') %></div>
                            </button>
                        </div>
                    </div>

                    <div class="mediaDivider"></div>

                    <!-- ⭐ 외부 SNS 영역 전체 제거 -->
                    <!--
                    <div id="externalMedia">
                        ... (전체 SNS 링크 코드) ...
                    </div>
                    -->
                </div>
            </div>
        </div>
    </div>

    <div id="lower">
        <div id="left">
            <div class="bot_wrapper">
                <div id="content">
                    <div id="server_status_wrapper">
                        <span class="bot_label" id="landingPlayerLabel"><%- lang('landing.serverStatus') %></span>
                        <span id="player_count"><%- lang('landing.serverStatusPlaceholder') %></span>
                    </div>

                    <div class="bot_divider"></div>

                    <div id="mojangStatusWrapper">
                        <span class="bot_label"><%- lang('landing.mojangStatus') %></span>
                        <span id="mojang_status_icon">&#8226;</span>
                        <div id="mojangStatusTooltip">
                            <div id="mojangStatusTooltipTitle"><%- lang('landing.mojangStatusTooltipTitle') %></div>
                            <div id="mojangStatusEssentialContainer"></div>
                            <div id="mojangStatusNEContainer">
                                <div class="mojangStatusNEBar"></div>
                                <div id="mojangStatusNETitle"><%- lang('landing.mojangStatusNETitle') %></div>
                                <div class="mojangStatusNEBar"></div>
                            </div>
                            <div id="mojangStatusNonEssentialContainer"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- ⭐ 중앙 뉴스 버튼 삭제 -->
        <div id="center">
            <div class="bot_wrapper">
                <div id="content">
                    <!-- 뉴스 버튼 제거 -->
                    <!--
                    <button id="newsButton">
                        <div id="newsButtonAlert" style="display: none;"></div>
                        <svg id="newsButtonSVG" ...></svg>
                        <span id="newsButtonText"><%- lang('landing.newsButton') %></span>
                    </button>
                    -->
                </div>
            </div>
        </div>

        <div id="right">
            <div class="bot_wrapper">
                <div id="launch_content">
                    <button id="launch_button"><%- lang('landing.launchButton') %></button>
                    <div class="bot_divider"></div>
                    <button id="server_selection_button" class="bot_label"><%- lang('landing.launchButtonPlaceholder') %></button>
                </div>

                <div id="launch_details">
                    <div id="launch_details_left">
                        <span id="launch_progress_label">0%</span>
                        <div class="bot_divider"></div>
                    </div>
                    <div id="launch_details_right">
                        <progress id="launch_progress" value="22" max="100"></progress>
                        <span id="launch_details_text" class="bot_label"><%- lang('landing.launchDetails') %></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ⭐ 뉴스 전체 영역 삭제 -->
    <!--
    <div id="newsContainer">
        ... 전체 뉴스 영역 ...
    </div>
    -->

    <script src="./assets/js/scripts/landing.js"></script>
</div>
